    <section class="section">
        <h2 class='section-title'>Skills</h2>
        <section id="skills">
            {%- for skill in input['skills'] %}
            <div class="item">
                <div class="name">{{ skill.name }}</div>
                <div class="level {{ skill.level.lower() }}">
                    <em>{{ skill.level }}</em>
                    <div class="bar"></div>
                </div>
                {%- if 'keywords' in skill %}
                <ul class="keywords">
                    {%- for keyword in skill['keywords'] %}
                    <li>{{ keyword }}</li>
                    {%- endfor %}
                </ul>
                {%- endif %}
            </div>
            {%- endfor %}
        </section>
    </section>