{% if 'basics' in input %}{% include "basics.jinja2" %}{% endif %}

{% if 'work' in input %}{% include "work.jinja2" %}{% endif %}

{% if 'education' in input %}{% include "education.jinja2" %}{% endif %}